{% extends "base.html" %}

{% block javascript_extra %}
<script>
  $(function() {
    var startDate=new Date(document.getElementById('start_date').value);
    var endDate=new Date(document.getElementById('end_date').value);
    var $alert = $('#my-alert');
    var searchbtn =document.getElementById('search_btn');

    $('#start_date').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('Start date should be less than end date!').end().show();
	  searchbtn.disabled=true;
        } else {
          $alert.hide();
          startDate = new Date(event.date);
	  searchbtn.disabled=false;

        }
        $(this).datepicker('close');
      });

    $('#end_date').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('End date shoud be greater than start date!').end().show();
	  searchbtn.disabled=true;
        } else {
          $alert.hide();
          endDate = new Date(event.date);
	  searchbtn.disabled=false;

        }
        $(this).datepicker('close');
      });
  });
</script>
{% endblock %}

{% block content %}


<div class="amz-banner">
    <div class="amz-container">
        <h1 class="am-text-center">{{ title }}</h1>

    </div>
</div>


<div class='am-g am-container'>
    <hr>
    <h1>Filter Weibos</h1>
    <form class="am-form " role="form" action="{% url 'search' %}" method="get" data-am-validator>

          <div class="am-form-group">

              <select class="am-form-success am-form-field" placeholder="Screen Name" name='q' id="doc-select-1">
                  {% for li in screen_name_set %}
                   <option value={{ li.screen_name }}>{{ li.screen_name }}</option>
                  {% endfor %}
              </select>
              <span class="am-form-caret"></span>
          </div>

            <div class="am-form-group am-form-icon">
                <i class="am-icon-calendar"></i>
                <input type="text" name="start_date" id="start_date" class="am-form-field" placeholder="Start Date"
                          data-am-datepicker="{format: 'mm-dd-yyyy', locale: 'en_US'}" readonly/>

          </div>

        <div class="am-form-group am-form-icon">
            <i class="am-icon-calendar"></i>
              <input type="text" name="end_date" id="end_date"   class="am-form-field" placeholder="End Date"
                          data-am-datepicker="{format: 'mm-dd-yyyy', locale: 'en_US'}" readonly/>
          </div>


          <button type="submit" id="search_btn" class="am-btn am-btn-default am-btn-secondary am-align-center">Search</button>
         <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
            <p>Start date should be less than end date!</p>
         </div>

    </form>
    <hr>
    <h1>All Weibos</h1>
    {% include "weibos_pagination.html" %}
    <table class='am-table am-table-striped am-table-hover'>
        <thead>
            <tr>
                <th class="am-text-center">weibo_id</th>
                <th class="am-text-center">screen_name</th>
                <th class="am-text-center">uid</th>
                <th class="am-text-center">date_published</th>
                <th class="am-text-center">text</th>
            </tr>
        </thead>
        <tbody>
            {% for item in weibos %}
            <tr>
                <td>{{ item.weibo_id }}</td>
                <td>{{ item.screen_name }}</td>
                <td>{{ item.uid }}</td>
                <td>{{ item.date_published }}</td>
                <td>{{ item.context }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "weibos_pagination.html" %}
</div>


{% endblock content %}

